* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('images/hogwarts.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.trybewarts-login {
  display: flex;
  align-items: center;
}

#email {
  width: 250px;
  margin: 0 10px;
}

#password {
  width: 250px;
  margin: 0 5px;
}

main {
  display: flex;
  padding: 40px 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
  color: rgb(241, 235, 213);
}

h2 {
  color: rgb(241, 235, 213);
  margin: 0 auto;
  font-size: 2em;
  padding: 20px;
}

hr {
  margin: 30px 0;
  background-color: rgb(241, 235, 213);
  height: 3px;
  border: 0;
}

#background-form {
  border: 2px solid rgb(241, 235, 213);
  border-radius: 10% 10% 0;
  width: 750px;
  display: flex;
  justify-content: center;
  background-color: rgb(32, 21, 5);
}

.evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

.trybewarts-header-logo {
  width: 80px;
}

#trybewarts-header-title {
  font-size: 3.5em;
  color: white;
}

#trybewarts-forms-logo {
  height: 500px;
}

.input-container-dbrow {
  display: flex;
  justify-content: space-between;
}

.input-container-dbcolumn {
  display: flex;
  justify-content: space-between;
}

.evaluation-form-input-area {
  display: flex;
  flex-direction: column;
  color: rgb(241, 235, 213);

}

.div-checkbox-area {
  font-size: 1.2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.evaluation-form-label {
  padding: 0.1em;
  font-size: 0.6em;
}

#label-family {
  font-size: 20px;
}

#label-content {
  font-size: 20px;
}

#house {
  display: flex;
  width: 280px;
  height: 35px;
  border: 0;
  border-radius: 6px;
  background-color: rgb(241, 235, 213);
  font-size: 15px;
}

.house-label {
  padding-right: 10px;
}

#house-container {
  font-size: 1.3em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.radio-area {
  width: 150px;
  display: flex;
  margin: 5px 10px;
}

.checkbox-area {
  margin: 10px;
}

[ name = 'email' ] , [ name = 'password' ] , .evaluation-form-input {
  width: 330px;
  height: 35px;
  border-radius: 6px;
  border: 0;
  margin: 3px 1px;
}

label [ name = 'family' ] {
  width: 15px;
}

#agreement {
  margin: 30px 0;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(241, 235, 213);
  background-color: rgb(32, 21, 5);
  height: 8vh;
}

#container-radio {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.evaluation-form-input-radio {
  display: flex;
  justify-content: center;
  width: 20px;
}

.display-none {
  display: none;
}

#submit-btn {
  margin-bottom: 30px;
}

button {
  background-color: rgba(63, 3, 119, 0.8);
  color: rgb(241, 235, 213);
  font-size: 1em;
  margin: 0 5px;
  padding: 5px 50px;
  border-radius: 6px;
  border: 1px solid rgb(241, 235, 213);
  cursor: pointer;
}

button:hover {
  background-color: rgb(63, 3, 119);
}

#label-rate {
  font-size: 1.5em;
}

.estrelas {
  display: flex;
  justify-content: center;
}

/* Essas linhas abaixo, estão comentadas por causa do requisito 21
======= se quiser ver o que tem ali, só desoculta-las =========
 .estrelas input {
  visibility: hidden;
} */

.estrelas label .fa:before {
  content: '\f005';
  color: gold;
  font-size: 20px;
}

.estrelas input:checked ~ label .fa:before {
  color: rgb(196, 193, 193);
  font-size: 20px;
}
