* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
}

.trybewarts-login {
  display: flex;
  align-items: center;
}

main {
  display: flex;
  padding: 40px 0;
  justify-content: space-evenly;
}

.evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
}

.input-container-dbrow {
  display: flex;
  justify-content: space-between;
}

footer {
  display: flex;
  justify-content: center;
}

#container-radio {
  display: flex;
  align-items: center;
}

